@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    overflow: hidden;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 80%;
    gap: 10px;
    flex-shrink: 0;

}

section{
    border: 3px solid #525252;
    border-radius: 5px;
    display: flex;
    flex-basis: 300px;
    flex-grow: 1;
    flex-flow: column wrap;
    flex-shrink: 0;
}

ul{
    margin-left: 30px;
}

.salario{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 10px 30px;
    border-radius: 10px;
    background-color: #84cc16;
    color: #ffffff;
    padding: 5px;
}

h2{
    font-size: 2.5rem;
    text-align: center;
    background-color: #52525b;
    color: #ffffff;
    padding: 10px;
}

section>h3{
    padding: 10px;
}